.wwl-image-floated-left-img {
    float: left;
    width: 50%;
}

.wwl-image-floated-right-img {
    float: right;
    width: 50%;
}

.wwl-image-with-hover-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.wwl-image-with-hover-info:hover + .wwl-image-with-hover-content {
    opacity: 1;
}